@import url("https://fonts.googleapis.com/css?family=Karla:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900");
@import url("https://fonts.googleapis.com/css?family=Inria Sans");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tangerine:wght@400;700&display=swap");

/* colors 
#012553, #023e8a, #578aca, white
#6c757d, #343a40
*/

/* new colors
#7c2d12, #6c757d
*/

:root {
  --bg-warm: #e7e5e4;
  --bg-light: #f5f5f4;
  --text-primary: #78350f;
  --text-secondary: #b45309;
  --accent: #b45309;
  --text-light: #78716c;
  --text-grey: #57534e;
  --text-dark: #292524;
  --color-hover: #d97706;
  --border-warm: 1px solid #f7ca94;
  --border-light: 1px solid #e7e5e4;
}

.App {
  /*text-align: center;*/
  font-family: "Open Sans", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
}

/*body > div {
  overflow: auto;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  font-size: 50% !important;
}

/*body {
  color: #343a40 !important;
}*/

/*main {
  margin-top: 20rem;
}*/

h1 {
  font-size: 4.8rem !important;
  font-weight: bold !important;
}

h2 {
  font-size: 4.2rem !important;
  font-weight: bold !important;
}

h3 {
  font-size: 3rem !important;
  font-weight: bold !important;
}

h4 {
  font-size: 2rem !important;
  font-weight: bold !important;
}

h5 {
  font-size: 2rem !important;
  font-weight: bold !important;
}

p {
  font-size: 1.8rem !important;
}

a {
  font-size: 1.6rem !important;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

h1,
h3,
h4,
h5,
h6,
p {
  color: var(--text-dark) !important;
}

h1,
h2,
h3 {
  text-transform: uppercase !important;
}

h2 {
  color: var(--text-primary) !important;
}

button {
  font-size: 1.6rem !important;
  border-radius: 1rem !important;
  padding: 1rem 2rem !important;
}

input,
textarea {
  border-radius: 1rem !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input:-webkit-autofill {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  color: var(--text-grey) !important; /* Bootstrap text color */
  caret-color: var(--text-grey) !important; /* Caret color */
  transition: background-color 5000s ease-in-out 0s; /* Chrome hack */
}

input:-moz-autofill {
  background-color: #fff !important;
  color: var(--text-grey) !important;
}

.btn-primary {
  background-color: var(--accent) !important;
  color: white;
  border: 1px solid white !important;
}

.btn-primary:hover {
  background-color: var(--color-hover) !important;
}

.btn-secondary {
  background-color: white !important;
  color: var(--text-primary) !important;
  border: 1px solid var(--text-primary) !important;
}

.btn-secondary:hover {
  opacity: 0.7;
}

/*.btn-link {
  color: #1b5196 !important;
}*/

.w-90 {
  width: 90% !important;
}

.w-10 {
  width: 10% !important;
}

.w-5 {
  width: 5% !important;
}

.w-3 {
  width: 3% !important;
}

.h-25 {
  height: 25% !important;
}

/*.App-header {
  background-color: #084dd7; 
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: white; 
  position: fixed;
  width: 100%;  
}

.App-header h1{
  position: absolute;
  font-weight: bold;
}*/

/* HEADER SECTION */

/*.header-row {
  flex-wrap: wrap;
  gap: 1em !important;
   color: var(--text-primary) !important;
  font-family: "Lato", sans-serif;
  font-weight: 700 !important;
  p {
    font-size: 1.6rem !important;
  }
}*/

.page-header {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  color: var(--text-primary) !important;
  font-weight: 700 !important;
  /*color: white !important;*/
  p {
    color: var(--text-primary) !important;
    font-size: 1.6rem !important;
  }
  /*background-color: #ffedd5;*/

  background-image: linear-gradient(white 70%, #f5f5f4);
  /*background-image: linear-gradient(#023e8a, #578aca, white);*/
  position: sticky;
  top: 0;
  z-index: 999;
  .logo {
    grid-row: 1;
    grid-column: 1;
    width: 60%;
    height: auto;
    flex-grow: 1;

    img {
      width: 100%;
      height: auto;
    }
  }
  .header-user {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    button.signin {
      font-size: 1.4rem !important;
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
    }
  }

  .header-search {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    input {
      font-size: 1.6rem !important;
      background-color: white !important  ;
    }
  }
  .app-menu {
    grid-row: 2;
    grid-column: 1;
  }

  /*margin-left: 25%;*/
}

header .navbar form {
  width: 500px;
}

.app-menu .navbar {
  font-weight: 900 !important;
  font-size: 1.8rem !important;
  background-color: inherit !important;
  color: var(--text-primary) !important;
  cursor: pointer;
  padding: 0 !important;
  height: 5rem !important;
}

/*.app-menu .navbar .nav-link {
  font-weight: 700 !important;
}*/

.app-menu a,
.app-menu .dropdown a {
  font-size: 1.8rem !important;
  color: var(--text-primary) !important;
  font-family: "Merriweather", serif !important;
}

.app-menu a.active {
  color: var(--text-secondary) !important;
}

.navbar .navbar-toggler {
  position: relative;
}

.navbar .navbar-collapse {
  position: absolute;
  background-color: white;
  border-bottom: 1px solid var(--text-primary);
  top: 100%;
  left: 0;
  width: 100vw;
  margin-left: 0 !important;
  padding: 1rem 3rem;
}

/*.navbar .show {
  background-color: white;
  border-bottom: 1px solid #023e8a;
}*/

#navbarNav a:hover {
  color: var(--color-hover) !important;
}

#navbarNav a:hover {
  border-radius: 5px;
}

.dropdown-menu,
.dropdown-menu a {
  color: var(--text-primary) !important;
  font-weight: 600;
  background-color: white !important;
  padding: 0.5rem 8rem 0.5rem 2rem;
}

.dropdown a {
  text-decoration: none;
}

.search .dropdown a,
.search .dropstart a {
  /*color: white !important;*/
  height: 30px;
}

.search a.dropdown-item {
  color: var(--text-primary) !important;
  font-size: small;
}

.app-menu .empty {
  height: 0;
  display: none;
}

.app-menu .navbar li {
  color: white !important;
  text-align: start;
}

.app-menu .navbar ul {
  gap: 2%;
}

.header-row .navbar {
  background-color: inherit !important;
}

.header-row input {
  background-color: white !important  ;
}

.header-search {
  /*border: 1px solid var(--text-primary) !important;*/
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.list-image {
  height: 50px;
  width: 60px;
}

/* RECIPE PAGE */
.recipe-page {
  font-size: medium;
  background-color: white;
  /*width: 100%;*/
  /*height: 800px;*/
  /*overflow-y: scroll;*/
}

/*.container-fluid {
  height: 1500px;  
}*/

.recipe-details {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.recipe-desc {
  text-align: justify;
}

.recipe-image {
  width: 95%;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
  object-position: center;
}

.recipe-display .list-group-item {
  border: none;
  text-align: justify;
  .ingr {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
  .instr {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.recipe-display {
  /*overflow-y: visible;*/
  /*height: 800px;*/
  overflow-x: hidden;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 50px !important;
}

.recipe-display {
  h2,
  h3,
  h4 {
    color: var(--text-primary) !important;
  }
  h3 {
    margin: 2rem 0;
  }

  .allreviews {
    p {
      font-size: 1.6rem !important;
    }
  }
}

/*.recipe-list-container {
  margin-top: 25px !important;
}

.recipe-list .list-group-item {
  border: none;
}*/
.recipe-card-list {
  justify-content: center;
  gap: 3rem;
  row-gap: 5rem;
  padding: 3rem;
}

.edit > .btn {
  flex: 0 0 auto !important;
}

.form-header {
  background-color: var(--text-primary);
  /*background-color: cornflowerblue;*/
  color: white !important;
  padding: 1rem 0;
  h3 {
    color: white !important;
  }
}

.form-header button {
  color: white;
}

/*.recipe-list {
  .card {
    width: 90%;
  }
}*/

#carouselHeader {
  width: 700px;
  height: 500px;
}

.recipe-form {
  font-size: 1.6rem;
}

.recipe-form-section {
  background-color: var(--bg-light) !important;
}

.recipe-form label {
  margin-top: 1rem;
  float: left;

  font-weight: bold;
  font-size: 1.8rem;
}

.recipe-form {
  input,
  textarea {
    font-size: 1.6rem;
    padding: 1rem;
    border: var(--border-light) !important;
  }
  h3 {
    color: white !important;
    padding: 1rem;

    font-weight: bold;
  }
  h4 {
    color: white !important;
    padding: 0 1rem;
  }

  .form-header {
    .btn-link {
      color: white !important;
    }
  }

  .dish-types {
    background-color: var(--bg-warm);
    border-radius: 2rem;
    border: 1px solid #d6d3d1;
  }

  .ingr-form {
    background-color: var(--bg-warm);
    border: 1px solid #d6d3d1;
    padding: 2rem;
    margin-bottom: 2rem;
    /*input {
      border: var(--border-warm) !important;
    }*/
    .delete-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 4rem;
      height: 4rem;
    }
  }
}

.form-control.invalid input {
  border-color: red !important;
}

.form-control.valid input,
.form-control.valid textarea {
  border-color: #aeb4b9 !important;
}

.dish-type {
  border-color: #aeb4b9 !important;
}

.recipe-layout {
  border-radius: 1rem;
  /*max-height: 500px;
  overflow-y: scroll;*/
  padding-bottom: 3rem !important;
  width: 95% !important;
}

p.separator {
  margin: 1rem;
  border-bottom: 3px solid #78350f !important;
}

@keyframes images {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("assets/images/food8.webp");
  }
  25% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("assets/images/food9.webp");
  }
  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("assets/images/food13.webp");
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("assets/images/food10.webp");
  }
}

.images-anime {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: images 10s linear 0s infinite;
  padding: 3rem;
}

/*.front-page, .recipe-page {
  margin-top: 180px !important;
}*/

.front-page img {
  height: 50vh;
  position: relative;
  justify-self: center;
}

.front-page .welcome {
  position: absolute;
  top: 50%;
  left: 30%;
  color: white;
}

.front-page .p-6 {
  padding: 50px 30px 10px 30px !important;
}

.front-page .card img {
  height: 60%;
}

.front-page .card svg {
  width: 2rem;
  height: 2rem;
}

/*.front-page {
  background-color: #dae1f9;
  /*background-color:  #eaeefa;
  /*background-color:  #ccd9ff;
  /*background-color:   #e6ecff;
  /*background-color:  #b3c6ff;
  background-color: #ccd9ff;
}*/

.front-page h2 {
  font-size: 3.6rem !important;
}

h2.mission-header,
.mission {
  padding-left: 4rem;
  padding-right: 4rem;
}

h2.mission-header {
  text-align: center;
}

.mission {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  .img2 {
    grid-row: 4;
  }
  .message2 {
    grid-row: 3;
  }
  p {
    font-size: 1.6rem !important;
    line-height: 2.5rem !important;
  }
}

.mission .message {
  width: 100%;
}

.mission .images {
  width: 100%;
}

.mission img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

/*.mission .images img:first-child {
  margin-bott;
}

.mission .images img:nth-child(2) {
  top: -10%;
  left: 10%;
}*/

.hero h1 {
  margin-bottom: 30px;
  font-weight: bolder;
  /*text-align: start !important;*/
  margin-top: 10px;
  color: var(--text-secondary) !important;
  z-index: 2;
}

.hero h2 {
  font-weight: 700 !important;
  font-size: 3.6rem !important;
  text-transform: unset !important;
  font-family: "Charm", cursive !important;

  color: var(--text-primary) !important;
}

.hero p {
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-dark) !important;
}

.hero {
  padding: 2rem 4rem;
  min-height: 70rem;
  color: white;
  text-align: center;
  justify-content: center;

  background-image: linear-gradient(
      to bottom,
      #faf0e3,
      #faf0e3eb 30%,
      transparent
    ),
    url("./assets/images/hero9.jpg");
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;

  .hero-header {
    align-items: center;
    padding-top: 5rem;
    width: 100%;
  }
}

.front-page h2 {
  font-weight: bold;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.favorite {
  background-color: var(--bg-light);
  border-bottom: var(--border-light);
  padding-left: 4rem;
  padding-right: 4rem;
}

.favorite h2 {
  text-align: center;
}

.favorite .fav-list {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

.favorite .fav-list .card {
  height: 35rem !important;
  width: 95%;
}

.favorite .card h5 {
  font-weight: bold;
}

.favorite .card img {
  height: 50%;
}

.dinner {
  /*overflow-x: scroll;*/
  width: 100%;
}

.dinner .card {
  flex: 0 0 auto;
}

.dinner .cards-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.dinner .cards-wrapper .card {
  margin-right: 10px;
}

.dinner {
  flex-direction: column;
}

.dinner .carousel-control-prev,
.dinner .carousel-control-next {
  background-color: #5f616b;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.easy-section {
  background-color: var(--bg-light);
  border-bottom: var(--border-light);
  border-top: var(--border-light);
}

.easy-section,
.dinner-section {
  padding-left: 4rem;
  padding-right: 4rem;
  .head {
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-bottom: 2rem;
    h2 {
      text-align: center;
    }
  }
}

a.view {
  color: var(--text-secondary) !important;
  text-decoration: none;
  font-size: 1.4rem !important;
  font-weight: 600 !important;
}

.section-scroll {
  svg {
    cursor: pointer;
  }
}

.scrollable {
  scroll-snap-type: x mandatory;
}

.scrollable .card {
  width: 100%;
  height: 350px !important;
}

.scrollable li {
  width: 100%;
  padding: 1rem;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.recipe-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 90%;
  padding: 2rem 0;
}

.scrollable {
  padding: 2rem 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 90%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.arrow-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.arrow-button:hover {
  fill: #d97706;
}

/*.dinner::-webkit-scrollbar {
  display: none;
}*/

.card {
  width: 90%;
  height: 40rem !important;
  border-radius: 20px !important;
  box-shadow: 5px 5px 5px #c5cace;
  cursor: pointer;
  font-size: 1.6rem !important;
  overflow: hidden;
}

.card-text {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.4rem !important;
  line-height: 1.8rem;
  margin-top: 1rem;
}

.card-body {
  padding: 20px;
  text-align: start;
}

.card-author {
  font-size: 1.4rem;
  color: var(--text-light);
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold !important;
}

h5.card-title {
  font-size: 1.8rem !important;
}

/*.card-img,
.card-img-top {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
 
}*/

.card img {
  width: 100%;
  align-self: center;
  height: 45%;
  object-fit: cover;
  object-position: center;
}

a.card {
  text-decoration: none;
}

article.card:hover {
  transform: scale(1.05);
}

.box {
  width: 31%;
  height: auto;
}

.box:hover {
  opacity: 80%;
}

.box img,
.box a {
  width: 100% !important;
  height: auto !important;
}

.image-buttons {
  position: absolute;
  top: 3%;
  right: 10%;
  display: none;
}

.image-buttons button {
  width: 24px !important;
  height: 24px !important;
  padding: 5px !important;
  /*background-color: cornflowerblue;*/
}

.image-buttons svg {
  vertical-align: top !important;
  text-align: center;
}

.card:hover .image-buttons {
  display: inline;
}

.search input {
  font-size: 14px;
}

/*.search svg {
  width: 35px;
  height: 35px;
}*/

.recipe-content {
  max-height: 600px;
}

.col-scroll {
  overflow-y: scroll;
  max-height: 180rem;
  height: auto;
  margin-bottom: 10rem;
}

.p-6 {
  padding: 7rem;
}

.m-6 {
  margin: 5rem !important;
}

.col-scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari and Opera */
}

.col-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.login img {
  width: 100%;
}

.login h1 {
  top: 10%;
}

.login {
  margin-top: 180px !important;
  margin-bottom: 40px;
}

.loginform h6 {
  font-size: 1.4rem;
  margin-left: 30px;
}

.loginform {
  background-color: white;
  width: 90%;
  height: auto;
  h3 {
    font-size: 2.4rem !important;
  }
}

.loginform form {
  input,
  label {
    font-size: 1.8rem;
  }
}

/*.loginform .message {
  height: 10px;
}*/

.loginpage {
  padding: 10rem 0;
  width: 100%;

  background-size: 100% 100%;
  background-image: url("assets/images/dinner.jpg");
}

/*.signup {
  margin-top: 180px !important;
  
}*/

.userform label {
  font-weight: bold;
  font-size: 16px !important;
}

.errorPage {
  margin-top: 150px;
}

/* ABOUT PAGE */

.about {
  margin: 3rem;
}

/*.about .blue-bg {
  background-color: #023e8a;
  color: white !important;
  border-radius: 1rem;
  p,
  h2 {
    color: white !important;
  }
}
*/
.about .white-bg {
  background-color: white;
  color: var(--text-grey);
}
.about .grey-bg {
  background-color: var(--bg-light) !important;
  color: var(--text-grey);
}

/*.about .row {
  padding: 30px;
}*/

.about article {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 5rem;
  border-radius: 2rem;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: center;
  }
}

.about article:nth-child(3) {
  .blog {
    grid-row: 1;
    grid-column: 1;
  }
}

.about [class*="col-"] {
  padding: 30px;
}

.about p,
.about h3 {
  text-align: start;
}

.about p,
.about span {
  font-size: 1.6rem !important;
}

.about img {
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/*.about .contact-list {
  color: rgb(34, 58, 146) !important;
  border: 1px solid rgb(34, 58, 146);
  border-radius: 10px;
}*/
/* CONTACT US */
.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("assets/images/dinner.jpg");
  background-position: top left, center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;

  .contact-us,
  .contact-header {
    width: 95%;
  }
}

.contact .contact-overlay {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

/*.contact img {
  width: 100%;
  height: 40rem;
  object-position: center;
  object-fit: cover;
  margin-bottom: 30rem;
  
}*/

.contact .contact-header {
  h2,
  h3,
  p {
    color: white !important;
    font-weight: bold;
  }

  h3 {
    font-size: 2.4rem !important;
    text-transform: unset !important ;
    font-family: "Charm", cursive !important;
  }

  p {
    font-size: 1.8rem !important;
  }
  margin-top: 5rem;
}

.contact .contact-us {
  flex-direction: column;
  align-self: center;
  justify-self: center;
  gap: 3rem;
  border-radius: 2rem;
  margin-bottom: 10rem;
  background-color: white !important;

  /*transform: translateY(-50%);*/

  h4 {
    font-size: 2.4rem !important;
    font-weight: bold;
    color: white !important;
  }
}

.contact .contact-form {
  flex-grow: 1;
  color: var(--text-grey) !important;
  background-color: var(--bg-warm) !important;
  font-size: 1.6rem;
  padding: 4rem 2rem;
  input,
  textarea {
    width: 80%;
    justify-self: start;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    border: none !important;
    /*border: 1px solid #eff3f6 !important;
    box-shadow: 1px 3px 5px #aeb4b9;*/
  }
  textarea {
    height: 15rem;
  }
  label {
    width: 20%;

    align-self: center;
    font-weight: bold;
  }
  [class*="col-"] {
    padding: 1rem;
  }
  button {
    padding: 0.5rem 2rem;
    font-size: 1.8rem;
  }
}

.contact .contact-list {
  /*background-color: rgb(34, 58, 146) !important;*/
  /*color: white;*/
  padding-top: 3rem;
  align-items: center;
  /*justify-content: center;*/
  h6 {
    font-size: 3.2rem;
    /*color: #023e8a !important;*/
    color: var(--text-primary) !important;
    font-weight: 600;
  }

  .contact-list-items {
    display: grid;
    grid-template-columns: 20% 1fr;
    row-gap: 1rem;
    padding: 2rem 3rem;

    [class*="col-"] {
      padding: 0.5rem;
    }

    p {
      font-size: 1.6rem !important;
      color: var(--text-primary) !important;
    }

    svg {
      height: 2.5rem;
      width: 2.5rem;
      color: var(--text-secondary) !important;
    }
  }
}

.search-option {
  row-gap: 5rem;
  padding: 1rem;
}

.search-card img {
  height: 70%;
}

.search-option .search-card {
  width: 45%;
  overflow: hidden;
  cursor: pointer;
  /*border: 1px solid rgb(135, 156, 202) !important;*/
  box-shadow: 5px 5px 5px #c5cace;
  /*color: rgb(48, 97, 202);*/
  h3 {
    font-weight: 700 !important;
  }
}

.search-option section:hover {
  transform: scale(1.05);
}

/*.meal-section{
  background-color: #bfcdf8;
}*/

/* MEAL AND INGREDIENT SEARCH SECTION */
.search-section input {
  /*border-color: rgb(135, 156, 202);*/
  color: rgb(135, 156, 202);
  font-size: 1.8rem !important;
  border-radius: 0 !important;
  border: none;
}

.search-section {
  .search-icon {
    height: 100%;
    /*width: 4rem;*/
  }
  .btn-primary {
    border-radius: 0 !important;
  }
}

.search-section h2 {
  font-weight: 700 !important;
}

.search-option h3 {
  font-size: 3.6rem;
}

.meal-search {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/src/assets/images/dish1.jpg");
  background-size: cover;
  background-position: center;
  height: 40rem;
  > * {
    width: 50%;
  }
}

.ing-search {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/src/assets/images/meal2.jpg");
  background-size: cover;
  background-position: center;
  height: 40rem;
}

/* FOOTER SECTION */
footer {
  height: auto;

  padding: 30px;
  background-image: linear-gradient(to bottom, #e7e5e4, #fafaf9) !important;
  /*background-image: linear-gradient(to bottom, #023e8a, #578aca);*/
  /*color: #6c757d !important;*/
  font-size: 1.6rem !important;
}

footer .first-row {
  flex-wrap: wrap;
  gap: 3rem;
}

footer img {
  height: auto;
  margin-right: 0.5em;
  width: 80%;
}

.footer-item {
  width: 40%;
  text-align: start;
}

footer .menu-links {
  margin-left: 0.5rem;
}

.footer-item a {
  color: var(--text-light) !important;
  text-decoration: none;
  font-size: 1.4rem !important;
  font-weight: 600 !important ;
}

.footer-item li {
  list-style: none;
  text-align: start;
  margin-bottom: 5px;
}

.footer-item ul {
  padding-left: 0px;
}

footer h5 {
  color: var(--text-dark) !important;
  font-size: 1.8rem !important;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.bg-light-grey {
  /*background-color: #e9ebf3;*/
  background-color: var(--bg-light);
}

.border-grey {
  border: var(--border-light) !important;
}

ul.list-group,
ul.list-group > li,
ul.list-group > li > div,
.ratings {
  background-color: var(--bg-light) !important;
  border-radius: 1rem;
}

.ratings .border {
  background-color: white !important;
  border-radius: 1rem;
}
.ratings {
  padding: 0 3rem 3rem 3rem !important;
}
.truncate-1 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-small {
  font-size: 14px;
}

.text-medium {
  font-size: 16px;
}

.text-blue {
  color: rgb(34, 58, 146) !important;
}

.page-buttons button {
  color: white;
  /*background-color: rgb(185, 199, 241);*/
  flex-grow: 0 !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-left-color: white;
  border-right-color: white;
}

.page-buttons button:hover {
  color: white;
  background-color: var(--color-hover) !important;
}

.page-buttons button:disabled {
  color: white;

  opacity: 0.5;
}

.page-buttons button.selected {
  background-color: #92400e !important;
  color: white;
}

.msg-success {
  width: 100%;
  background-color: rgb(174, 244, 233);
  padding: 5px;
  border-radius: 10px;
}

.msg-error {
  width: 100%;
  background-color: rgb(234, 210, 152);
  padding: 5px;
  border-radius: 10px;
}
